#This is a tab separated file describing the location of CoreProfiler scheme 
#used for the CoreProfiler tool
#
#file has this format (white space characters are TAB characters)
#
#The columns are:
#value	name	tool_version	database	path	db_path	scheme_path
#
#For example
#coreprofiler_klebsiella_3_bigsdb_no_token_<scheme_sha256>	klebsiella_3: scgMLST634 [632 loci] (BIGSdb)	2.0.0	bigsdb	coreprofiler_klebsiella_3_bigsdb_no_token_<scheme_sha256>	db_klebsiella_3/klebsiella_3.fasta	scheme_klebsiella_3
