#This is a sample file distributed with Galaxy that enables tools
#file has this format (white space characters are TAB characters)
#value	name	path	version
#arg-annot.90-1.1.2	arg-annot (90 percent identity)	${__HERE__}/arg-annot.90-1.1.2	1.1.2
