# This data table has records in the format
# value    name    path
# where paths point to folders with kma index files but include the common prefix (always index) of these files.
# A record could look like this:
# kma_1.6.6_<source_and_parameters_sha256>    an_example_index      /tool-data/kma_index/kma_1.6.6_<source_and_parameters_sha256>/index
# with the following files inside /tool-data/kma_index/kma_1.6.6_<source_and_parameters_sha256>/:
# index.comp.b  index.length.b  index.name  index.seq.b
# The entire recorded path (including the /index) can be passed to kma unaltered and it will discover the index files from it.
